<body>
    <h1>Falla en el Inicio de Sesión</h1>
    <p>Lo sentimos, no se pudo iniciar sesión con las credenciales proporcionadas.</p>
    <p>Por favor, verifica tus credenciales e intenta de nuevo.</p>
    <a href="/api/users/login">Volver al Inicio de Sesión</a>
</body>